<#

.SYNOPSIS
    Файл конфигурации для скрипта sync_share.ps1
    Внимание!!! Требуется сохранение в кодировке UTF8 с BOM !!!

.NOTES
    Несколько важных моментов по работе с массивом задач:
    1.  Количество задач: Вы можете добавить 3, 5, 10 или даже 50 блоков @{ ... } в массив Tasks. 
        Скрипт будет обрабатывать их строго по очереди: сначала завершит первую, отправит уведомление, затем приступит ко второй и так далее. 
    2.  Уникальность имен: Главное — следите, чтобы у каждой задачи был уникальный LogName. 
        Если у двух задач будет одинаковый LogName, они будут пытаться писать в один и тот же файл лога одновременно или перезаписывать его, что создаст кашу в отчетах. 
    3.  Гибкость наследования: Как мы и реализовали, для каждой новой задачи вам достаточно указать только обязательные параметры (Name, Source, Destination, LogName). 
        Всё остальное (потоки, исключения, флаги) подтянется из глобальных настроек автоматически, если вы не решите их переопределить конкретно для этой задачи. 
    4.  Порядок выполнения: Задачи выполняются в том порядке, в котором они описаны в файле конфигурации.


#>

@{
    # ==================================
    # Глобальные настройки (по умолчанию)
    # ==================================
    BOT_TOKEN         = 'You_Bot_Token_Here'
    CHAT_ID           = 'Your_Chat_ID_Here'
    MESSAGE_THREAD_ID = 'Your_Message_Thread_ID_Here_If_Needed'

    # глобальная директория для логов
    LogDirectory      = 'C:\Logs'

    # Глобальные параметры Robocopy которые применятся по умолчанию ко всем задачам. 
    # Параметры можно переопределить в каждой задаче отдельно
    EnableSEC         = $true   # Включить сохранение атрибутов безопасности NTFS
    EnableMIR         = $true   # Включить зеркалирование (MIR)
    MultiThread       = 64      # Количество потоков
    MaxRetries        = 5       # Максимальное количество повторных попыток при ошибках
    WaitTime          = 5       # Время ожидания между повторными попытками (в секундах)

    # Глобальные исключения (если не заданы в задаче)
    GlobalExcludedFiles = @("Thumbs.db", "~*.*", "*.tmp", "*.log", ".DS_Store", "desktop.ini")
    GlobalExcludedDirs  = @("Cache", "Temp")

    # ==================================
    # МАССИВ ЗАДАЧ
    # ==================================
    Tasks = @(
        @{
            Name          = "Бэкап Файлопомойки"
            Source        = '\\fileserver\share\subfolder\subfolder2'
            Destination   = 'd:\archive\FileShare'
            LogName       = "Bckp_FileShare"
            # Здесь НЕТ ExcludedFiles, значит возьмет GlobalExcludedFiles
            EnableSEC     = $false
        },
        @{
            Name          = "Бэкап Скуля"
            Source        = '\\sqlsrv\backup_sql\full'
            Destination   = 'C:\tmp\SQL_Backup'
            LogName       = "Bckp_SQL"
            # Переопределяем исключения только для этой задачи
            EnableSEC     = $false
            MultiThread   = 8
            ExcludedFiles = @("*.old", "temp_invoice.pdf") 
            #ExcludedDirs  = @("Recycle Bin")
        }
    )
}
